// style reset
@import 'lib/reset';

// import partials
@import "lib/colours", "lib/font";
@import "lib/mixin", "lib/screenSizes";
@import 'lib/var';

:root {
	font-size: 12px;
}

@import  "partials/header";

.wrapper {
	display: flex;
	flex-flow: column;
	width: 100vw;
	height: 100vh;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: $secondary-colour;
	background-color: $primary-colour;
}

main {
	@include set-background-image('../bg_images/main/extraSmall.jpeg');
	flex-grow: 999;

	& section {
		width: 94vw;
		margin: 6rem auto;
		display:none;
	}
}


@import 'partials/home';
@import 'partials/aboutMe';
@import 'partials/portfolio';
@import 'partials/details';
@import 'partials/contact';

@import 'partials/footer';

@import 'mediaQueries';




