// style reset
@import 'lib/reset';

// import partials
@import "lib/colours", "lib/font", "lib/mixin", "lib/screenSizes";

:root {
	font-size: 12px;
}

@import  "partials/header";

.wrapper {
	display: flex;
	flex-flow: column;
	width: 100vw;
	height: 100vh;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: $secondary-colour;
	background-color: $primary-colour;
}

main {
	background: 
		linear-gradient(
			to right, 
			rgba($overlay-colour, 0.7)
			rgba($overlay-colour, 0.2)
		),
		url('/assets/bg_images/main/extraSmall.jpeg') 10% 5px;
	background-size: cover;
	background-repeat: no-repeat;
	flex-grow: 999;
}

@import 'partials/home';



@import 'partials/footer';
