@import '../../scssLib/colours';

.header {
	z-index:999;
	position: fixed;
	top: 0;
	width: 100%;
	min-height: 5rem;
	padding: 5px 1.5rem;

	background-color: $black-colour;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
