@import '../../scssLib/colours';

.tag:not(:first-child):not(:last-child){
	margin: 0 3px;
}

.tag {
	font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: $tag-background-colour;
	padding: 5px 10px;
	margin: 0.3rem;
	border-radius: 15px;
	color: $pink-colour;
	font-size: 0.7rem;
	cursor: default;
}

.tag.api {
	color: $tag-api;
}

.tag.js {
	color: $tag-js;
}

.tag.stylesheet {
	color: $tag-stylesheet;
}