@import '../../../../../scssLib/colours';

.card-container .card-content-tags li:not(:first-child):not(:last-child){
	margin: 0 3px;
}

.card-container .card-content-tags li {
	font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: $tag-background-colour;
	padding: 5px 10px;
	border-radius: 15px;
	color: $pink-colour;
	font-size: 0.8rem;
	cursor: default;
}