#about {
	margin: 25% auto 0 auto;
	width: 90vw;

	font-size: 1.2rem;
	line-height: 1.5rem;

	h1 {
		font-size: 2rem;
		color: $pink-colour;
		margin-bottom: 20px;
	}

	p:not(:last-child) {
		margin-bottom: 10px;
	}

}