#contact {
	margin-top: 7rem;

	font-size: 1.2rem;
	line-height: 1.5rem;

	@include section-background;

	div:not(:last-child) {
		margin-bottom: 10px;
	}

	& .contact {
		display: grid;
		grid-template-areas: 
			'icon colon data data data'
			'icon colon data data data';
		grid-column-gap:8px;
		grid-row-gap: 2.5rem;
		width: fit-content;
		justify-items: end;

		& .icon {
			grid-area: icon;
			font-size: 1.3rem;
			color: $pink-colour;
		}

		& .colon {
			grid-area: colon;
		}

		& a {
			grid-area: data;
		}
	}

	& #contact-me {
		margin-top: 25px;

		& .btn-contact {
			@include btn;
		}
	}
}