#portfolio {
	width: 94vw;
	margin: 65px auto 0;

	& .template {
		display: none;
	}

	& #projects-container{
		display: grid;
		grid-template-columns: 1fr;

		width: 100%;		

		& .card-container {
			width: 100%;
			& .card {
				width: 100%;
				padding: 5px;
				border-radius: 10px;
				margin: 15px auto 25px;
				background-color: $primary-colour;
				&-image {
					margin-left: auto;
					margin-right: auto;
					max-width:100%;
				}
			}
		}
	}


}