@import '../../../scssLib/colours', '../../../scssLib/mixin', '../../../scssLib/var';

.portfolio {
	overflow: scroll;
	margin-bottom: 25rem;
	& .template {
		display: none;
	}

	& .projects-container{
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: center;
		
		@include full-width;		

		
	}
}