@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap');

html, body{

    /* color picked from https://picsum.photos/id/959/3699/2466 */
    /* Red  */
    --color-pink: hsl(338deg, 76%, 86%);
    --color-darkslatereddishgray: hsl(347,21%,21%);

    /* Green */
    --color-palegoldenrod: hsl(76deg, 54%, 83%);
    --color-lightgray: hsl(61deg, 32%, 79%);
    --color-slategray: hsl(183deg, 13%,44%);
    --color-darkolivegreen: hsl(32deg, 7%,31%);

    /* Blue */
    --color-powderblue: hsl(180deg, 48%, 80%);

    /* Grays */
    --color-darkslategray: hsl(0deg, 6%,6%);

    /* default styles */
    background-color: var(--color-darkslategray);
    color: var(--color-pink);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,"Arial", sans-serif;
    font-size: 16pt;

    /* layout */
    display:flex;
    flex-direction: column;
}


header {
    min-height: 70px;
    padding: 5px;
    flex: none;
}

header h1.site-title{
    margin: 0.5rem 1.5rem;
    font-size: 1.5rem;
    font-family: 'Cedarville Cursive', cursive;
    font-weight: 900;
}

nav.page-navs{
    height:2.5rem;
    box-sizing: border-box;
}

nav.page-navs ul.navbar{
    height:100%;
    display:flex;
    flex-direction: row;
    vertical-align:middle;
    background-color:var(--color-powderblue);
    padding:5px;
    box-sizing: border-box;
}

nav.page-navs ul.navbar li{
    display: inline-block;
    height:100%;
    vertical-align:middle;
    text-align: center;
    cursor:pointer;
    padding:5px;
    
}

nav.page-navs ul.navbar li > a{
    text-decoration: none;
    color: var(--color-darkolivegreen);
    vertical-align:middle;
    padding:5px 10px;
    border-radius: 5px;
}
section.about{
    /* position:relative; */
    overflow: hidden;

    text-align: center;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://picsum.photos/id/959/3699/2466");
    height: 50vh;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

section.about img.background-img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.3;
}

section.about .heading{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: var(--color-pink);
    z-index: 5;
}

section.about .heading h2{
    font-size: 2rem;
    line-height: 3rem;
}

section.about .heading p{
    font-size: 1.5rem ;
    line-height: 1.5rem;
}



.template{
    display:none;
}


.container{
    margin:7px;
    margin-top: 17px;
    display:block;
    box-sizing: border-box;

}
/* https://picsum.photos/id/237/3500/2095
https://picsum.photos/id/306/1024/768
*/



/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    body{
        font-size: 12px;
    }
    section.about .heading2{
        padding: 3.5rem;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    section.about .heading2 p{
        font-size: 1rem;
    }
    
}

 /* Small devices (landscape phones, less than 768px) */
@media (min-width: 576 and max-width: 767.98px) {
    body{
        font-size: 14px;
    }
    section.about .heading2{
        padding: 2.5rem;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    section.about .heading2 p{
        font-size: 1rem;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 767px and max-width: 991.98px) { 
    section.about .heading2{
        padding: 2.5rem;
        font-size: 2rem;
        line-height: 1.5rem;
    }
    section.about .heading2 p{
        font-size: 1.5rem;
    }
}

