/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Roboto+Mono|Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap');


/* Defaults */
html, body{
    --color-secondary: 20deg, 100%;
    --color-secondary-1:hsl(var(--color-secondary),90%);
    --color-secondary-2: hsl(var(--color-secondary),83%);
    --color-secondary-3: hsl(var(--color-secondary),78%);
    --color-secondary-4: hsl(var(--color-secondary),57%);
    --color-secondary-5: hsl(var(--color-secondary),25%); /* #6D2400 */

    --color-primary: 157deg, 17%;
    --color-primary-1:hsl(var(--color-primary),93%);
    --color-primary-2:hsl(var(--color-primary),77%);
    --color-primary-3:hsl(var(--color-primary),46%);
    --color-primary-4:hsl(var(--color-primary),38%);
    --color-primary-5:hsl(var(--color-primary),21%);


    --color-gray: 0deg, 0%;
    --color-gray-1:hsl(var(--color-gray),95%);
    --color-gray-2:hsl(var(--color-gray),85%);
    --color-gray-3:hsl(var(--color-gray),77%);
    --color-gray-4:hsl(var(--color-gray),59%);
    --color-gray-5:hsl(var(--color-gray),47%);
    --color-gray-6: hsl(var(--color-gray),28%);
    --color-gray-7: hsl(var(--color-gray),15%);
    --color-gray-8: hsl(var(--color-gray),7%);
    --color-gray-9: hsl(var(--color-gray),2%);

    /* default styles */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,"Arial", sans-serif;
    font-size: 16pt;

    /* layout */
    display:flex;
    flex-direction: column;

    height: 100vh;
    margin:0;
}

/* Header Section */
header {
    color: var(--color-secondary-2);
    background-color: var(--color-primary-4);
    border-bottom: 3px solid var(--color-secondary-3);
    min-height: 70px;
    padding: 0;
    flex: none;

    position:sticky;
    top: 0;
    left: 0;
    right:0;

    position:relative;
}

.btn-mini-nav{
    display:none;
    font-size: 1rem;
    position: absolute;
    top: 25px;
    left: 24px;
    background-color: var(--color-secondary-2);
    color: var(--color-gray-7);
    border-radius: 5px;
    border: none;
    outline: none;
}

header .site-title{
    margin-top: 20px;
    margin-bottom:10px;
    margin-left: 10px;
}
header .site-title h1{
    /* margin: 0.5rem 1.5rem 0.8rem; */
    font-size: 1.5rem;
    font-family: 'Cedarville Cursive', cursive;
    text-shadow: 0px 0px 4px var(--color-secondary-1);
}
header .site-title p{
    font-size: 0.7rem;
    font-family: "Roboto Mono", "Anonymous Pro", "Space Mono", monospace;
    margin-left: 50px;
}
.page-navs{
    padding-left: 25px;
    text-align:right;
}

.btn-nav{
    background-color: var(--color-primary-4);
    color: var(--color-secondary-3);
    border: none;
    outline:none;
    cursor:pointer;
    padding: 9px 16px;
    font-size:1.05rem;
}

.btn-nav:hover{
    font-weight: bold;
}

.btn-nav.current{
    background-color: var(--color-secondary-3);
    color: var(--color-primary-4);
    border-radius: 15px 15px 0 0;
}

.btn-nav.current:hover{
    cursor:default;
    font-weight:normal;
}

/* Main Section */
main {
    background-color: var(--color-primary-1);
    flex-grow: 9999;
    min-height: calc(100vh - 175px);
    overflow: scroll;
    border-left: 2px solid var(--color-secondary-3);
    border-right: 2px solid var(--color-secondary-3);
}
main section{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    background-color:transparent;
    line-height: 1.3rem;
}

section .section-content{
    padding: 2rem 1.2rem;
    text-align: justify;
    line-height: 1.5rem;
    color: var(--color-primary-5);
}

#contact-section .contact{
    margin-bottom: 1.5rem;
    color: var(--color-secondary-5);
}
#contact-section .contact a{
    text-decoration: none;
    color: var(--color-secondary-5);
    cursor:pointer;
}


.template, .hidden{
    display:none;
}


.container{
    margin:7px;
    margin-top: 17px;
    display:block;
    box-sizing: border-box;

}

/* Footer section */

footer{
    color: var(--color-secondary-2);
    background-color: var(--color-primary-4);
    border-top: 3px solid var(--color-secondary-3);
    min-height: 35px;
    padding: 5px;
    flex: none;
    text-align: center;
    font-size:0.6rem;
}


/* Media Queries */
/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    body{
        font-size: 12px;
    }

    header h1.site-title{
        margin-left:1rem;
    }
    
}

 /* Small devices (landscape phones, less than 768px) */
@media (min-width: 576 and max-width: 767.98px) {
    body{
        font-size: 14px;
    }
    
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 767px and max-width: 991.98px) { 
    
}

