
// Primary Colours
$black-colour: #101217;
$dark-gray-colour: #636365;
$pink-colour : #f141a0;
$white-colour: #e9e9e7;

// tag colours
$tag-background-colour: #d7d7c3;
$tag-api: #4d4dff;
$tag-js: #680138;
$tag-stylesheet: #387058;
$tag-template-engine: #a15c17;

// Others
$border-colour: #272c35;
$icon-shadow: #59686f;
$overlay-colour: #15191f;