// font-family 
@font-face {
	font-family: 'Cedarville Cursive', cursive;
	src: url('https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap');
}

@font-face {
	font-family: 'Roboto', sans-serif;
	src: url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Roboto+Mono|Space+Mono&display=swap');
}

@font-face {
	font-family: 'Spicy Rice', cursive;
	src: url('https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap');
}
