#portfolio {
	overflow: scroll;
	margin-bottom: 25rem;
	& .template {
		display: none;
	}

	& #projects-container{
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: center;
		
		@include full-width;		

		& .card-container {
			flex-basis: 100%;
			@include contain;
			height: 15rem;
			margin: 1rem;
			background-color: transparent;
			border-radius: $rounded-corner;
			cursor: default;
			perspective: 1000px;
			box-sizing: border-box;
			padding: 5px 10px;

			& .card {
				position: relative;
				@include contain;
				@include animate;
				transform-style: preserve-3d;
				transform-origin: center right;
				
				& > * {
					@include place-at-card-bottom(true);
					@include contain;
					backface-visibility: hidden;
					border-radius: $rounded-corner;
				}
	
				&-front {
					overflow: contain;
					&-image {
						display: block;
						margin-top: 5px;
						margin-left: auto;
						margin-right: auto;
						width:100%;
						height: 100%;
						border-radius: $rounded-corner;
					}
	
					&-title {
						background-color: rgba($overlay-colour, 0.95);
						padding: 1rem 1.2rem;
						@include place-at-card-bottom(false);
						bottom: -1.5rem;
						@include project-title;
						text-align: center;
						border-bottom-right-radius: $rounded-corner;
						border-bottom-left-radius: $rounded-corner;
					}
				}
	
				&-content {
					background-color: $white-colour;
					padding: 1rem 1.2rem;
					transform: rotateY(180deg);
					width: 95%;
					height: 95%;
					
					&-title {
						@include project-title;
					}
					
					&-tags{
						display: flex;
						flex-flow: row wrap;
						justify-content: flex-start;
						align-items: center;
						
						@include tag;
					}
	
					&-body {
						margin-top: 1.4rem;
						margin-bottom: 1rem;
						line-height: 1.2rem;
						color: $black-colour;
					}
	
					& .btn-more {
						display:block;
						text-align:right;
						margin: 0.3rem 0.5rem;
						cursor: pointer;
						color: $black-colour;
	
						&:hover, &:focus, &:active {
							color:$pink-colour;
						}
					}
				}
			}

			&:hover {
				.card {
					transform: translateX(-100%) rotateY(-180deg);
				}
			}
		}
	}
}