@import '../../../scssLib/colours', '../../../scssLib/mixin';
@import '../../../scssLib/var';

.project-details {
	background-color: rgba(16, 18, 23, 0.75);
	padding: 0.8rem 1rem;

	&-header {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;

		&-title{
			font-size: 2rem;
			margin: 1rem;
			color: $pink-colour;
			text-shadow: 
						1px 1px 3px $overlay-colour,
						2px 2px 2px $dark-gray-colour, 
						-1px -1px 3px $overlay-colour,
						-2px -2px 2px $dark-gray-colour,
						0px 1px 3px $overlay-colour,
						0px 2px 2px $dark-gray-colour,
						-1px 0px 3px $overlay-colour,
						-2px 0px 2px $dark-gray-colour;
		}
	}

	&-body {
		@include full-width;

		&-image {
			width:100%;
			min-height: 50vh;
			border-radius: 1rem;
		}

		&-description {
			font-size: 1.2rem;
			line-height: 1.2rem;
			margin: 0.5rem 0;
			color: $white-colour;
		}

		&-tag-cloud {
			list-style: none;
			display: flex;
			flex-flow: row wrap;
			margin-top: 0.9rem;
			margin-bottom: 0.9rem;
		}
	}

	&-footer {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;

		& > * {
			@include btn;

			svg {
				margin-right: 0.5rem;
			}
		}
	}
}