@import '../../scssLib/colours', '../../scssLib/mixin';

nav.menu {
	flex-basis: 20rem;
	& ul {
		list-style: none;
		display: flex;
		width: 100%;
	
		padding: 0 1.5rem;
	}
}

@media screen and (max-width: 576px) {
	// ref: https://github.com/codeSTACKr/portfolio-sass/blob/master/scss/_menu.scss
	nav.menu {
		position: fixed; 
		top: 0;
		left: 0;
		width: 100%;

		background: 
			linear-gradient(-45deg, rgba($overlay-colour, 0.2), rgba($overlay-colour, 0.4) ),
			linear-gradient(-45deg, #f3a7c4, #ee6f9f,  $pink-colour);
		background-size: 400% 400%;

		visibility: hidden;

		animation: gradient 25s ease infinite;

		@keyframes gradient {
			0% {
				background-position: 0% 50%;
			}
			50% {
				background-position: 100% 50%;
			}
			100% {
				background-position: 0% 50%;
			}
			
		}

		&.open {
			visibility: visible;
			opacity: 1;

			& ul {
				transform: translateY(0);

				& .menu-item {
					transform: translateX(0);
				}
			}
		}

		& ul {
			list-style: none;
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
			align-items: center;
			height: 100vh;
			overflow: hidden;
			padding-right: 1rem;
			transform: translateY(-100%);
			@include animate;
		}
	}
}

